@model Presentation.Models.ProductModel

<div class="row">
    <div class="col-md-12">
        <h1>New Category</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="OnPost" asp-anti-forgery="true" class="w-100 bg-white p-3 mt-3 border" method="post">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" for="category-name">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="category-name"
                        aria-describedby="product-name" placeholder="Enter a category name">
                        <small id="category-name-help" class="form-text text-muted">
                        e.g: Smarthphone
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" for="category-description">Description</label>
                        <textarea asp-for="Description" class="form-control" id="category-description"
                        rows="3" max="5000"></textarea>
                        <small id="category-description-help" class="form-text text-muted">
                        max: 5000 characters
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>